MONGO_URI=mongodb+srv://<Username>:<password>@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
JWT_SECRET=3ac13a6833642e8061ec43156e80d004874ffa6c0da95d9582c0b50b09d510243a11135b8630929b7607975166ed4b7fc0db545258dcb01a5bcf9b039a5a169b

# Admin par défaut
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=admin123

FRONTEND_URL=https://car-react-app-project.vercel.app

# Port
PORT=8000

# Node Environment
NODE_ENV=production